html{
    background-color: lightpink;
}

#header{
    display: flex;
    justify-content: center;
}

#btn1{
    position: relative;
    top: 300px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 45px;
    padding-bottom: 45px;
    left: 900px
}
.SubBtn{
    padding-left: 30px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}
label{
    display: flex;
}